body {
    margin: 10px;
    white-space: nowrap;
    background: url('../resource/bg.png');
    min-width: 300px;
    min-height: 65px;
}
.insta-slider{
    width: 300px;
}

#error, #app_instagram, #app_blank, #app_facebook {
    display: none;
}
#debug {
    /*display: none;*/
}

#insta_layout{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1;
    color: #9C27B0;
}
